body {
margin: 0px;
padding: 0px;	
background-color: #000000;
color: #00FF00;
}

a:link {color:#AAFFAA;}      /* unvisited link */
a:visited {color:#55FF55;}  /* visited link */
a:hover {color:#DDFFDD;}  /* mouse over link */
a:active {color:#BBFFBB;}  /* selected link */

.vpi-canvas { cursor:none; }

.x.axis line {
      shape-rendering: auto;
  }

.line {
   fill: none;
   stroke: #00FF00;
   stroke-width: 1.5px;
}

